[submodule "submodules/MegaMimes"]
	path = submodules/MegaMimes
	url = https://github.com/retropc/MegaMimes
[submodule "submodules/QR-Code-generator"]
	path = submodules/QR-Code-generator
	url = https://github.com/retropc/QR-Code-generator.git
